<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Candidature Spontanée</h4>
    <button type="button" class="btn btn-close" aria-describedby="modal-title"
        (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="candidatureForm" (ngSubmit)="submit()" class="new-patient-form">
        <div class="form-group mt-2" [ngClass]="{ focused: candidatureFieldsFocus.name === true }">
            <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-badge"></i></span>
                </div>
                <input class="form-control" formControlName="name" placeholder="Nom (obligatoire) " type="text"
                    (focus)="candidatureFieldsFocus.name = true" (blur)="candidatureFieldsFocus.name = false"
                    required />
            </div>
        </div>

        <div class="form-group mt-2" [ngClass]="{ focused: candidatureFieldsFocus.birthdate === true }">
            <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-badge"></i></span>
                </div>
                <input class="form-control" formControlName="birthdate"
                    placeholder="Date Naissance au format JJ/MM/AAAA (obligatoire)" type="text"
                    (focus)="candidatureFieldsFocus.birthdate = true" (blur)="candidatureFieldsFocus.birthdate = false"
                    required />
            </div>
        </div>

        <div class="form-group mt-2" [ngClass]="{ focused: candidatureFieldsFocus.genre === true }">
            <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-badge"></i></span>
                </div>
                <select class="form-control" formControlName="genre" (focus)="candidatureFieldsFocus.genre = true"
                    (blur)="candidatureFieldsFocus.genre = false">
                    <option value="" selected disabled>Genre (obligatoire)</option>
                    <option value="H">homme</option>
                    <option value="F">femme</option>
                </select>
            </div>
        </div>

        <div class="form-group mt-2" [ngClass]="{ focused: candidatureFieldsFocus.tel === true }">
            <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-chat-round"></i></span>
                </div>
                <input class="form-control" formControlName="tel"
                    placeholder="Numéro au format 6xx xxx xxx (obligatoire)" type="text"
                    (focus)="candidatureFieldsFocus.tel = true" (blur)="candidatureFieldsFocus.tel = false" required />
            </div>
        </div>

        <div class="form-group mt-2" [ngClass]="{ focused: candidatureFieldsFocus.email === true }">
            <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" formControlName="email" placeholder="Email (obligatoire)" type="text"
                    (focus)="candidatureFieldsFocus.email = true" (blur)="candidatureFieldsFocus.email = false"
                    required />
            </div>
        </div>

        <div class="form-group mt-2" [ngClass]="{ focused: candidatureFieldsFocus.address === true }">
            <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-pin-3"></i></span>
                </div>
                <input class="form-control" formControlName="address" placeholder="Lieu de résidence (obligatoire)"
                    type="text" (focus)="candidatureFieldsFocus.address = true"
                    (blur)="candidatureFieldsFocus.address = false" required />
            </div>
        </div>

        <div class="form-group mt-2" [ngClass]="{ focused: candidatureFieldsFocus.cv === true }">
            <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-cloud-upload-96"></i></span>
                </div>

                <div class="form-control">
                    <label for="cv_candidature_spontanee" *ngIf="cv.files.length==0">
                        CV au format PDF, moins de 5 Mo (obligatoire)
                    </label>
                    <label for="cv_candidature_spontanee" *ngIf="cv.files.length>0">
                        CV : {{ cv.files[0].name}}
                    </label>
                    <input #cv id="cv_candidature_spontanee" class="form-control" type="file" hidden
                        accept="application/pdf" />
                </div>
            </div>
        </div>

        <p class="text-danger pl-1" *ngIf="isFormInvalid">Chargez votre CV, il est obligatoire pour continuer</p>
        <p class="text-danger pl-1" *ngIf="isCVTooHeavy">CV trop lours. Il doit peser moins de 5 Mo</p>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">
        Annuler
    </button>
    <button type="button" class="btn btn-danger" (click)="submit()" [disabled]="!candidatureForm.valid || isWorking">
        Envoyer
    </button>
</div>