<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-8">
              <h1 class="display-3 text-white">Victoria Herschel Group
                <span>A New Vision - Une Nouvelle Vision</span>
              </h1>
              <p class="lead text-white text-justify">Des services de courtage d'assurance à l'agroalimentaire, nous nous réinventons continuellement afin de répondre efficacement à vos besoins.</p>
              <div class="btn-wrapper">
                <a href="#nos_business" class="btn btn-info btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="fa fa-code"></i></span>
                  <span class="btn-inner--text">Nos Business</span>
                </a>
                <!--<a href="#" class="btn btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                  <span class="btn-inner--text">Télécharger le track</span>
                </a>
              -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid" id="nos_business">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0" id="VHerscelPrestige">
                <div class="card-body py-5">
                    <img src="./assets/img/brand/logo.jpeg">
                  
                 <!--<h6 class="text-primary text-uppercase">VICTORIA HERSCHEL PRESTIGE</h6>--> 
                  <p class="description mt-3 text-justify"> <span style="font-weight: 900; font-size: 16px;"> Société de courtage d'assurances et ré-assurances. Notamment les assurances : </span></p>
                  <div>
                    <span class="badge badge-pill badge-primary mr-1 mb-2">Automobile</span>
                    <span class="badge badge-pill badge-primary mr-1 mb-2">Vie</span>
                    <span class="badge badge-pill badge-primary mr-1 mb-2">Voyage</span>
                    <span class="badge badge-pill badge-primary mb-2">Responsabilité d'Entreprise</span>
                    <span class="badge badge-pill badge-primary">Responsabilité Professionnelle</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-primary mt-4">En savoir plus</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0" id="VHerscelAgro">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <i class="ni ni-istanbul"></i>
                  </div>
                  <h6 class="text-success text-uppercase">VICTORIA HERSCHEL AGROALIMENTAIRE</h6>
                  <p class="description mt-3 text-justify"> <span style="font-weight: 900; font-size: 16px;"> Engagé dans l'agroalimentaire depuis bientôt 02 ans. Particulièrement l'élevage et transformation des viandes de :</span></p>
                  <div>
                    <span class="badge badge-pill badge-success mr-1">Poulet de chair</span>
                    <span class="badge badge-pill badge-success">Porc</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-primary mt-4">En savoir plus</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0" id="VHerscelServices">
                <div class="card-body py-5">                  
                  <img src="./assets/img/brand/logo2.png">
                  <p class="description mt-3 text-justify"><span style="font-weight: 900; font-size: 16px;"> Prestation de services diverses répondant aux besoins de nos clients.</span></p>
                  <div>
                    <span class="badge badge-pill badge-warning mb-2">Achats/Ventes de billets d'avion</span>
                    <span class="badge badge-pill badge-warning mr-1 mb-2">Import/Export</span>
                    <span class="badge badge-pill badge-warning">Prestations diverses</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-primary mt-4">En savoir plus</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="./assets/img/theme/clients.svg" class="img-fluid floating">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
              <i class="ni ni-settings-gear-65"></i>
            </div>
            <h3>Notre définition d'un <strong>CLIENT</strong></h3>
            <p>Afin d'offrir une solution de haute qualité à nos clients, nous apportons un accent prononcé sur la notion de <strong>CLIENT</strong>.</p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Le <strong>CLIENT</strong> est plus important dans nos lieux.</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-html5"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Le <strong>CLIENT</strong> demande et nous réagissons.</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-satisfied"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">La satisfaction de nos <strong>CLIENTS</strong> est notre motivation. </h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--
  <section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="./assets/img/theme/img-1-1200x1000.jpg" class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
              </svg>
              <h4 class="display-3 font-weight-bold text-white">Design System</h4>
              <p class="lead text-italic text-white">The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens.</p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
              <i class="ni ni-settings"></i>
            </div>
            <h3>Our customers</h3>
            <p class="lead">Don't let your uses guess by attaching tooltips and popoves to any element. Just make sure you enable them first via JavaScript.</p>
            <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go.</p>
            <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go.</p>
            <a href="javascript:void(0)" class="font-weight-bold text-warning mt-5">A beautiful UI Kit for impactful websites</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  -->
  <!--
  <section class="section pb-0 bg-gradient-warning">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-lg-2 ml-lg-auto">
          <div class="position-relative pl-md-5">
            <img src="./assets/img/ill/ill-2.svg" class="img-center img-fluid">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="d-flex px-3">
            <div>
              <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-building text-primary"></i>
              </div>
            </div>
            <div class="pl-4">
              <h4 class="display-3 text-white">Nos Partenaires</h4>
              <p class="text-white text-justify">Nous sommes fièrs de collaborer avec des partenaires de renom pour offrir les meilleurs produits et services à nos clients.</p>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="bg-gradient-success rounded-circle text-white p-2">
                    <img src="./assets/img/brand/GMC_logo_blanc.png" width="200px" class="img-fluid">
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-success">GMC Assurances</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-warning">Royal</h5>
                  <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-warning">Beneficial alliance</h5>
                  <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-warning">SANlAM</h5>
                  <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
-->
  <section class="section section-lg">
    <div class="container">
      <div class="row justify-content-center text-center mb-lg">
        <div class="col-lg-8">
          <h2 class="display-3">Notre Formidable Équipe</h2>
          <p class="lead text-muted">Notre équipe de direction est composée de leaders expérimentés et passionnés qui mettent leur expertise au service de l'entreprise pour atteindre ses objectifs stratégiques.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/theme/honorine.jpeg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Mme Honorine Kengne</span>
                <small class="h6 text-muted">PDG</small>
              </h5>
              <div class="mt-3">
                <a href="javascript:void(0)" class="btn btn-warning btn-icon-only rounded-circle">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-warning btn-icon-only rounded-circle">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-warning btn-icon-only rounded-circle">
                  <i class="fa fa-dribbble"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/theme/nasser.jpeg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">M. Nasser Nsangou</span>
                <small class="h6 text-muted">Directeur Financier</small>
              </h5>
              <div class="mt-3">
                <a href="javascript:void(0)" class="btn btn-primary btn-icon-only rounded-circle">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-primary btn-icon-only rounded-circle">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-primary btn-icon-only rounded-circle">
                  <i class="fa fa-dribbble"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/theme/raissa.jpeg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Mme Raissa Defo Mokam</span>
                <small class="h6 text-muted">DRH</small>
              </h5>
              <div class="mt-3">
                <a href="javascript:void(0)" class="btn btn-info btn-icon-only rounded-circle">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-info btn-icon-only rounded-circle">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-info btn-icon-only rounded-circle">
                  <i class="fa fa-dribbble"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg pt-0">
    <div class="container">
      <div class="card bg-gradient-warning shadow-lg border-0">
        <div class="p-5">
          <div class="row align-items-center">
            <div class="col-lg-8">
              <h3 class="text-white">A New Vision - Une Nouvelle Vision</h3>
              <p class="lead text-white mt-3 text-justify">Des services de courtage d'assurance à l'agroalimentaire, nous nous réinventons continuellement afin de répondre efficacement à vos besoins.</p>
            </div>
            <div class="col-lg-3 ml-lg-auto">
              <a href="/contact#contact_form" class="btn btn-lg btn-block btn-white">Contacter Nous</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg bg-gradient-default">
    <div class="container pt-lg pb-300">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">Nos Valeurs</h2>
          <p class="lead text-white">Notre entreprise est guidée par des valeurs fondamentales qui nous permettent de fournir des produits et services de qualité supérieure à nos clients.</p>
        </div>
      </div>
      <div class="row row-grid mt-5">
        <div class="col-lg-4">
          <img src="./assets/img/brand/satisfaction.png" width="100px" style='height: 85px !important;' class="img-fluid floating">
          <h5 class="text-white mt-3">Satisfaction du client</h5>
          <p class="text-white mt-3 text-justify">La satisfaction du client est notre priorité absolue. Nous sommes déterminés à maintenir un niveau élevé de satisfaction du client en travaillant sans relâche pour améliorer nos produits et services et en offrant une assistance rapide et utile.</p>
        </div>
        <div class="col-lg-4">
          <img src="./assets/img/brand/quality.png" width="85px" style='height: 85px !important;' class="img-fluid floating">
          <h5 class="text-white mt-3">Qualité de service</h5>
          <p class="text-white mt-3 text-justify">La qualité de service est une valeur fondamentale pour notre entreprise. Nous sommes déterminés à offrir des produits et des services de qualité supérieure à nos clients en travaillant sans relâche.</p>
        </div>
        <div class="col-lg-4">
          <img src="./assets/img/brand/team.png" width="100px" style='height: 85px !important;' class="img-fluid rounded-circle floating">
          <h5 class="text-white mt-3">Esprit d'équipe</h5>
          <p class="text-white mt-3 text-justify">L'esprit d'équipe est au cœur de tout ce que nous faisons et nous continuerons à le cultiver à mesure que nous grandissons ensemble.  Nous valorisons la collaboration, le soutien mutuel et la communication ouverte pour construire une entreprise forte.</p>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section section-lg pt-lg-0 section-contact-us">
    <div class="container">
      <div class="row justify-content-center mt--300">
        <div class="col-lg-8">
          <div class="card bg-gradient-secondary shadow">
            <div class="card-body p-lg-5">
              <h4 class="mb-1">N'hésitez pas à nous contacter</h4>
              <p class="mt-0">Votre projet est très important pour nous.</p>

              <div class="form-group mt-5" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                  </div>
                  <input class="form-control" placeholder="Votre nom" type="text" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="Votre email" type="email" (focus)="focus1=true" (blur)="focus1=false">
                </div>
              </div>
              <div class="form-group" [ngClass]="{'focused':focus2===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-book-bookmark"></i></span>
                  </div>
                  <input class="form-control" placeholder="Objet" type="text" (focus)="focus2=true" (blur)="focus2=false">
                </div>
              </div>
              <div class="form-group mb-4">
                <textarea class="form-control form-control-alternative" name="name" rows="4" cols="80" placeholder="Quel est votre besoin ?"></textarea>
              </div>
              <div>
                <button type="button" class="btn btn-default btn-round btn-block btn-lg">Prendre contact avec nous</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-lg">
    <div class="container" id="nos_partenaires">
      <div class="row justify-content-center text-center mb-lg">
        <div class="col-lg-8">
          <h2 class="display-3">Nos Partenaires</h2>
          <p class="lead text-muted">"Nous sommes fiers de travailler avec les meilleurs dans l'industrie. Nos partenaires sont des partenaires clés de notre succès, nous collaborons ensemble pour offrir les meilleurs produits et services à nos clients.</p>
        </div>
      </div>
        <swiper 
          [slidesPerView]="partenairePerView"
          [loop]="true" 
          [autoplay]="{ delay: 1000, disableOnInteraction: false }"
          [spaceBetween]="50"  
          [navigation]="true"
          [pagination]="{ clickable: true }"
        >
        <ng-template swiperSlide data-swiper-autoplay="6000" *ngFor="let partenaire of partenaires; index as i">
              <a href="{{partenaire.link}}" target="_blank" rel="nofollow noopener noreferrer">
                  <img [src]="partenaire.img" alt="{{partenaire.name}}" style="max-width: 250px;"/>
              </a>
        </ng-template>
        </swiper>
    </div>
  </section>

  
</main>