<main>
    <div class="position-relative">
      <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
            <div class="shape shape-style-1 shape-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            </div>
            <div class="container py-lg-md d-flex">
            <div class="col px-0">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="display-3 text-white text-center text-uppercase">Contact</h1>
                        
                    </div>
                </div>
            </div>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
            </div>
        </section>
      <!-- 1st Hero Variation -->

        <section class="section section-lg pt-lg-0 section-contact-us">
            <div class="container mw-100 p-5">
                <div class="row justify-content-center mt--300 d-flex bg-white pt-5" style="border-radius : 8px;">
                    <div class="col-lg-7 text-center">
                        <img src="./assets/img/brand/contact-us-enquiry.jpg">
                    </div>
                    <div class="col-lg-5">
                        <div class="card bg-gradient-secondary shadow" id="contact_form">
                            <div class="card-body p-lg-5">
                            <h4 class="mb-1">N'hésitez pas à nous contacter</h4>
                            <p class="mt-0">Votre projet est très important pour nous.</p>

                            <div class="form-group mt-5" [ngClass]="{'focused':focus===true}">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Votre nom" type="text" (focus)="focus=true" (blur)="focus=false">
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{'focused':focus1===true}">
                                <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" placeholder="Votre email" type="email" (focus)="focus1=true" (blur)="focus1=false">
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{'focused':focus2===true}">
                                <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-book-bookmark"></i></span>
                                </div>
                                <input class="form-control" placeholder="Objet" type="text" (focus)="focus2=true" (blur)="focus2=false">
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <textarea class="form-control form-control-alternative" name="name" rows="4" cols="80" placeholder="Quel est votre besoin ?"></textarea>
                            </div>
                            <div>
                                <button type="button" class="btn btn-default btn-round btn-block btn-lg">Envoyer</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row justify-content-center mt-4 mb-4">
                    <div class="col-lg-8">
                        <div class="row row-grid">
                            <div class="col-lg-4">
                                <div class="card card-lift--hover shadow border-0">
                                    <div class="card-body row">
                                        <div class="col-3 mb-4 mr-0">
                                            <img src="./assets/img/brand/earth.png">
                                        </div>
                                        <div class="col-9 ml--9">
                                            <h6 class="text-success text-uppercase">Adresse</h6>
                                            <p class="description mt-3 text-justify"> 
                                                <span style="font-weight: 900; font-size: 16px;"> Immeuble Victoria Herschel Group, Rue NGOUSSO <br>
                                                BP 6726, Yaoundé</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card card-lift--hover shadow border-0">
                                    <div class="card-body row">
                                        <div class="col-3 mb-4 mr-0">
                                            <img src="./assets/img/brand/advice.png">
                                        </div>
                                        <div class="col-8 ml--9">
                                            <h6 class="text-success text-uppercase">Numéros de Téléphone</h6>
                                            <p class="description mt-3 text-justify"> 
                                                <span style="font-weight: 900; font-size: 16px;"> 
                                                    +237 690 557 130 <br>
                                                    +237 681 384 514
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card card-lift--hover shadow border-0">
                                    <div class="card-body row">
                                        <div class="col-3 mb-4 mr--9">
                                            <img src="./assets/img/brand/email.png">
                                        </div>
                                        <div class="col-9 ml--9">
                                            <h6 class="text-success text-uppercase">Adresse mail</h6>
                                            <p class="description mt-3 text-justify"> 
                                                <span style="font-weight: 900; font-size: 14px;"> 
                                                    client@victoriaherschelgroup.cm <br>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div style="height: 500px; border-radius : 8px;" 
                     class="shadow"
                     leaflet 
                     [leafletOptions]="options"
                     [leafletLayersControl]="layersControl"
                     [leafletLayers]="layers"
                >
                </div>
            </div>            
        </section>
    </div>
</main>