/* You can add global styles to this file, and also import other style files */
@import "~swiper/swiper-bundle";


.swiper-container {
    width: 100%;
    height: 300px;
    margin: 50px auto;
  }
  
  .swiper-slide {
    background: #f1f1f1;
    color: #000;
    text-align: center;
    line-height: 300px;
  }
  