<footer class="footer" [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">
  <div class="container">
    <div class="row row-grid align-items-center" [ngClass]="{'my-md': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login', 'mb-5':getPath()==='/user-profile' || getPath()==='/register' || getPath()==='/login'}">
      <div class="col-lg-6">
        <h3 class="text-primary font-weight-light mb-2">A New Vision - Une Nouvelle Vision</h3>
        <h4 class="mb-0 font-weight-light">Contactez-nous sur l'une de ces plateformes.</h4>
      </div>
      <div class="col-lg-6 text-lg-center btn-wrapper">
        <a target="_blank" href="https://twitter.com/VHerschelGroup" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="Follow us">
          <i class="fa fa-twitter"></i>
        </a>
        <a target="_blank" href="http://facebook.com/victoriaherschelgroup" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" ngbTooltip="Like us">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a target="_blank" href="https://www.instagram.com/vherschelgroup/" class="btn btn-neutral btn-icon-only btn-dribbble btn-lg btn-round" ngbTooltip="Follow us">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{test | date: 'yyyy'}}
          <a href="#" target="_blank">Victoria Herschel Group</a>.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="#nos_business" class="nav-link">Nos Business</a>
          </li>

          <li class="nav-item">
            <a href="#nos_partenaires" class="nav-link">Partenaires</a>
          </li>

          <li class="nav-item">
            <a href="/contact#contact_form" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
